* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
  background-color: #f9f9f7;
  color: #333;
}


header {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #2e2e2e;
  margin-bottom: 10px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #2b7a0b;
}


.section-title {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 1.8rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 0 50px 60px;
}

.product {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #2b7a0b;
  margin: 8px 0;
}

button {
  background-color: #2b7a0b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1f5708;
}


footer {
    background-color: #228B22;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}