* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: aqua;
    padding: 18px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
}

.hero-section {
    height: 200px;
    padding: 72px;
}

button {
    background: linear-gradient(45deg, green, #e0cf37);
    background-size: 200% 100%;
    background-position: 0% 50%;
    padding: 8px 24px;
    font-size: 18px;
    border-radius: 8px;
    border: 0px;
    transition: all 0.5s ease;
    cursor: pointer;
}
button:hover {
    transform: scale(1.2);
    background-position: 100% 20%;
}
button:active {
    background-color: #006400;
    transform: scale(1.05);
}